button:hover {
    color: #39a5dc;
}

* {
    margin: 0;
    padding: 0;
}

#form {
    padding-top: 10px;
}

mat-checkbox {
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin-left: 25px;
}