.white{
    color:whitesmoke; 
}

.resource-card{
    width: 20rem;
    margin: 2rem 0;
    height: 30vh;
    border-radius: 10px;
    overflow-y: auto;      

    h3{
        padding: .5rem 0 0 2rem;
        font-size:larger;
        margin-bottom: 1rem;
    } 

    hr{
        width:75%;
        background-color: #808080;
        margin: 0 0 0 2rem;
    }

    h4{
        font-size: x-small;
        margin: .2rem 0 0 2rem;
    }
}



#home-component{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    div.navbar{

        position: relative;
        padding: 5px;

        .form-control{
            border-radius: 0;
            height: 75%;
        }

        &.second-level{
            height: auto;

            ::ng-deep .mat-form-field .mat-form-field-label {
                color:rgba(128,128,128,.75) !important;
                // color: $mainColor!important;
            }

            ::ng-deep .mat-form-field-underline {
                display: none;
              }

            font-family: 'Open Sans';

            #sort-select{
                margin-right: 15px;
            }
            #search-input{
                border: none;
                position: relative;
                top: 50%;
                transform: translateY(-40%);
            }

            .filter-field{
                width: 80%;
            }

            .search-boxes{
                width: 90%;
                white-space: nowrap;
            }

            select{
                width:auto;
            }
            span{padding:0 15px;}
            //Coverage calculator styles. Width of individual bars handled on the front end.
        }
        &.third-level{
            display: inline-block;
            font-family: 'Open Sans';
            font-size: 1.1rem;

            span{
                margin-top: 5px;
            }

            #results-numbers{
                float: left;
                font-size: 1.5rem;
            }

            #top-navbar-btns{
                float:right;
                button{
                    background:none;
                    border:none;
                    box-shadow:none;

                    &:hover{
                        color:#39A5DC;
                    }
                }
            }

            #coverage-legend{
                float:left;
                position: relative;
                white-space: nowrap;
                overflow-x: hidden;
                width: 65%;
                transform: translate(12.5%, 0%);
                transition: all .2s ease-in-out;

                span{
                    display: inline-block;
                    color:#fff;
                    height:2.5rem;
                    font-size: 1.25rem;
                    line-height: 2.5rem;
                    text-align: center;
                    padding:0;
                    overflow: hidden;
                }
                .training-and-eval{
                    background-color: #6EC664;
                    .desc{
                        display:none;
                    }
                    &:hover{
                        cursor: pointer;
                        border: 2px solid rgba(0,0,0,.2);
                        filter:brightness(.9);
                        transform: scale(1.05, 1.25);
                        .desc{
                            transform: scale(1, .8);
                            display: inline-block;
                        }
                        .percentage{
                            display: none;
                        }
                    }
                }
                .training-only{
                    background-color: #0066CC;
                    &:hover{
                        cursor: pointer;
                        filter:brightness(.9);
                        border: 2px solid rgba(0,0,0,.2);
                        transform: scale(1.05, 1.25);
                        .desc{
                            transform: scale(1, .8);
                            display: inline-block;
                        }
                        .percentage{
                            display: none;
                        }
                    }
                }
                .eval-only{
                    background-color: #F0AB00;
                    &:hover{
                        cursor: pointer;
                        filter:brightness(.9);
                        border: 2px solid rgba(0,0,0,.2);
                        transform: scale(1.05, 1.25);
                        .desc{
                            transform: scale(1, .8);
                            display: inline-block;
                        }
                        .percentage{
                            display: none;
                        }
                    }
                }
                .no-training-and-eval{
                    background-color: #808080;
                    &:hover{
                        cursor: pointer;
                        filter:brightness(.9);
                        border: 2px solid rgba(0,0,0,.2);
                        transform: scale(1.05, 1.25);
                        .desc{
                            display: inline-block;
                            transform: scale(1, .8);
                        }
                        .percentage{
                            display: none;
                        }
                    }
                }
            }


        }
    }
    table{
        font-size: 1.1rem;

        thead{
            tr{
                //Code to control table column width to facilitate the opening/closing of detail panes without js
                display: grid;
                grid-template-columns: 3% 9% 18% 10% 10% 10% 10% 10% 7% 1% 2% 7% 1% 2%;
                justify-content: flex-start;
                th{
                    text-align: center; 
                }
                .header-selectable{
                    &:hover{
                        color:#39A5DC;
                        cursor: pointer;
                    }
                }
            }
        }
        tbody{
            tr{
                display: grid;
                grid-template-columns: 3% 9% 18% 10% 10% 10% 10% 10% 7% 1% 2% 7% 1% 2%;
                //grid-template-columns: repeat(10, 1fr);
                justify-content: flex-start;
                align-items: center;
                justify-items: center;

                //Hiding control radio buttons
                input[type="checkbox"]{display: none;}

                .clickable-filter{
                    cursor: pointer;
                    text-decoration: underline;
                    &:hover{
                        color:#39A5DC;
                    }
                }
                
                td{
                    padding: .13rem .7rem;
                    vertical-align: middle;
                    align-items: center;
                    justify-items: center;
                    text-align: center;

                    span.coverage{
                        display: inline-block;
                        width:10px;
                        height:65px;
                        vertical-align: middle;

                        //training and eval color definitions
                        &.training-and-eval{
                            background-color: #6EC664;
                            .coverage-desc{
                                display: none;
                            }
                            &:hover{
                                cursor:pointer;
                                width:100%;
                                .coverage-desc{
                                    font-size: x-large;
                                    font-weight: bold;
                                    display:block;
                                    margin: 15px 7px 0 7px;
                                }
                            }
                        }
                        &.training-no-eval{
                            background-color: #0066CC;
                            .coverage-desc{
                                display: none;
                            }
                            &:hover{
                                cursor: pointer;
                                width:100%;
                                .coverage-desc{
                                    font-size: x-large;
                                    font-weight: bold;
                                    display:block;
                                    margin-top: 15px;
                                }
                            }
                        }
                        &.eval-no-training{
                            background-color: #F0AB00;
                            .coverage-desc{
                                display: none;
                            }
                            &:hover{
                                cursor: pointer;
                                width:100%;
                                .coverage-desc{
                                    font-size: x-large;
                                    font-weight: bold;
                                    display:block;
                                    margin-top: 15px;
                                }
                            }
                        }
                        &.no-coverage{
                            background-color: #808080;
                            .coverage-desc{
                                display: none;
                            }
                            &:hover{
                                cursor: pointer;
                                width:100%;
                                .coverage-desc{
                                    font-size: x-large;
                                    font-weight: bold;
                                    display:block;
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                    &#ksat-id{
                        font-weight: 700;
                    }
                    &.label-expander{
                        cursor: pointer;
                        padding:0;
                        border-top: 2px solid transparent;

                        label{
                            line-height: 5;
                            width: 100%;
                            cursor: pointer;
                            padding:0 15px;
                            font-weight: 700;
                        }
                        &:hover{
                            color:#39A5DC;
                        }
                    }
                    &.expanded-row-content {
                        border-top: none;
                        display: none;
                        //meat and potatoes for expanding row functionality
                        grid-column: 1/-1;
                        color: #AEB1B3;
                        font-size: 13px;
                        background: transparent;
                        width: 100%;
                        padding: 0;

                        //Control for expanding detail pane
                        div.table-overflow-y{
                            float:right;
                            overflow-y: auto;
                            max-height: 50px;
                            width:90%
                        }

                        .add-button{
                            float: left;
                            background: none;
                            box-shadow: none;
                            font-size: 1.25rem;
                            border: none;
                            cursor: pointer;
                        }
                    }

                }
            }
        }
    }
    //Code for finding children of checked radio buttons
    .id-check:checked ~ .expanded-row-content.ksat-id {display: inline-block;}
    .child-check:checked ~ .expanded-row-content.children {display: inline-block;}
    .parent-check:checked ~ .expanded-row-content.parent {display: inline-block;}
    .training-check:checked ~ .expanded-row-content.training {display: inline-block;}
    .evals-check:checked ~ .expanded-row-content.evals {display: inline-block;}

    //Adding visual styles for expanded labels
    .id-check:checked ~ .label-expander .check-id-label{ border:1px solid rgba(0,0,0,.1); border-top: 4px solid #39A5DC; border-bottom: none;}
    .child-check:checked ~ .label-expander .check-child-label{ border:1px solid rgba(0,0,0,.1); border-top: 4px solid #39A5DC; border-bottom: none;}
    .parent-check:checked ~ .label-expander .check-parent-label{ border:1px solid rgba(0,0,0,.1); border-top: 4px solid #39A5DC; border-bottom: none;}
    .training-check:checked ~ .label-expander .check-training-label{ border:1px solid rgba(0,0,0,.1); border-top: 4px solid #39A5DC; border-bottom: none;}
    .evals-check:checked ~ .label-expander .check-evals-label{ border:1px solid rgba(0,0,0,.1); border-top: 4px solid #39A5DC; border-bottom: none;}

    .mttl-table{
        flex: 1 1 auto;
        overflow-y: auto;
    }
    .footer{
        flex: 0 1 40px;
        margin-bottom: 1rem;
    }

    .card-icon{
        font-size: large;
        font-weight: bolder;
        color: white;
    }

    .parent-child-card{
        text-align: left;
        h2{
            font-size: medium;
            font-weight: bold;
            display: block; width: 100%;
        }
        &:hover{
            h2, p {
                color:#39A5DC;
            }
            cursor: pointer;
        }
    }

    .rel-link-card{
        text-align: center;
        width: 95%;
        h2{
            font-size: medium;
            font-weight: bold;
            display: block; width: 100%;
        }
        a{
            font-size: medium;
            font-weight: bold;
            display: block; width: 100%; 
            color: none;
        }

        &:hover{
            color:#39A5DC;
            cursor: pointer;
        }
    }

    .card-info{
        height: 50px;
        max-height: 50px;
        overflow-y: scroll;
        border: none;
        opacity: .8;
        scrollbar-color: #808080 transparent;
    }

    a:hover, a:visited, a:link, a:active
    {
        text-decoration: none;
    }

    .plus-button{
        padding: 0;
        margin: 0;
        &:hover{
            color:#39A5DC;
        }
    }

    .search-autocomplete{
        overflow-y: scroll;
        background-color: #808080;
        color: black;
    }

    .chip-list{
        font-family: 'Open Sans';
    }
    .mttl-chips{
        height: 15px !important;
        font-size: x-small;
        background-color: #0076aa;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    .close-chip{
        background-color: rgba(128,128,128,.75);
        border-radius: 100%;
        text-align: center;
        padding: 0px 3px 1px 3px;
        margin: 0px
    }

    .carousel-caption{
        color: rgba(128,128,128,.75);
        transform: translate(60%, -100%);
    }

    .link-carousel-caption{
        float: right;
        display: relative;
        color: rgba(128,128,128,.75);
        transform: translate(0%, -25%);
    }

    .vert-divider{
        margin-left: 10px;
        margin-right: 15px;
        border-width: 3px;
        height: 100%;
    }
}

