<div id="new-ksat">
  <h2 mat-dialog-title
  class="title">Add KSAT</h2>
  <mat-dialog-content class="content" id="contents">

    <div class="double-form">
    <mat-form-field class="mr-10 half-dialog" floatLabel="never">
      <mat-label>Topic</mat-label>
      <input matInput [(ngModel)]='topic' required>
      <md-error class="error" *ngIf="error">This field is required</md-error>
    </mat-form-field>
    <mat-form-field class="half-dialog" floatLabel="never">
      <mat-label>Work Role</mat-label>
      <input matInput [(ngModel)]='workrole' required>
      <md-error class="error" *ngIf="error">This field is required</md-error>
    </mat-form-field>
    </div>
    <br>
    <div class="single-form">
      <mat-form-field floatLabel="never">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]='desc' required></textarea>
        <md-error class="error" *ngIf="error">This field is required</md-error>
      </mat-form-field>
    </div>
    <br>
    <div class="single-form">
      <mat-form-field class="half-dialog" floatLabel="never">
        <mat-label>Requirement Source</mat-label>
        <mat-hint>A document, publication or other source</mat-hint>
        <input matInput [(ngModel)]='reqSrc'>
      </mat-form-field>
    </div>
    <br>
    <div class="single-form">
      <mat-form-field class="mr-10 half-dialog" floatLabel="never">
        <mat-label>Requirement Owner</mat-label>
        <mat-hint>An office or function from which the source originated and has approving change requirement authority</mat-hint>
        <input matInput [(ngModel)]='reqOwner'>
      </mat-form-field>
    </div>
    <br>
    <div class="double-form">
    <mat-form-field class="mr-10 half-dialog" floatLabel="never">
      <mat-label>Parent KSATs</mat-label>
      <input matInput [(ngModel)]='parents'>
    </mat-form-field>
    <mat-form-field class="half-dialog" floatLabel="never">
      <mat-label>Child KSATs</mat-label>
      <input matInput [(ngModel)]='children'>
    </mat-form-field>
    </div>
    <br>
    <div class="single-form">
    <mat-form-field floatLabel="never">
      <mat-label>Training Links</mat-label>
      <mat-hint>URLs that provide relevant training</mat-hint>
      <textarea matInput [(ngModel)]='trainingLink'></textarea>
    </mat-form-field>
    </div>
    <br>
    <div class="single-form">
      <mat-form-field floatLabel="never">
        <mat-label>Training References</mat-label>
        <textarea matInput [(ngModel)]='trainingRef'></textarea>
        <mat-hint>Offline training resources, sources of training links, etc.</mat-hint>
      </mat-form-field>
    </div>
    <br>
    <div class="single-form">
    <mat-form-field floatLabel="never">
      <mat-label>Eval Links</mat-label>
      <textarea matInput [(ngModel)]='evalLink'></textarea>
      <mat-hint>Resources that test proficiency of this KSAT item</mat-hint>
    </mat-form-field>
    </div>
    <br>
    <div class="single-form">
      <mat-form-field>
        <mat-label>Your Name</mat-label>
        <input matInput [(ngModel)]='name'>
      </mat-form-field>
    </div>
    <div class="thanks" *ngIf="thanks && !url">
      <p>Thank you, your issue ticket will appear shortly... &nbsp;
        <fa-icon [icon]="syncIcon" [spin]="true" class="fas"></fa-icon>
      </p>
   </div>
   <div *ngIf="url && !spamFlag">
      <p style="vertical-align: center;" >
        Issue Located at:
        <a ng-href="{{url}}" target="_blank" (click)="click()">
          {{url}}
        </a>
      </p>
    </div>
    <div *ngIf="spamFlag">
      <p style="vertical-align: center;">Thank you for your input!
      </p>
   </div>
    <br/> 
    <br/> 
  </mat-dialog-content>
  <div class="actions">
    <div class="buttons">
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button (click)="sendData(); notes=''; desc=''; topic=''; trainingLink=''; evalLink=''; parents=''; children='';
      reqOwner=''; reqSrc=''; workrole=''; trainingRef=''">Submit</button>
    </div>
  </div>
</div>