<div id="mttl-component">
    <div id="m1" class="navbar second-level">
        <div class="form-control d-inline search-field ml-5" (click)="searchInput.focus()">
            <div id="search-input">
                <mat-form-field class="ml-5 search-boxes my-auto custom-mat" floatLabel="never">
                    <span matPrefix>
                        <fa-icon [icon]="faSearch" class="ml-5 my-auto" size="xxl"></fa-icon>
                        &nbsp;
                    </span>
                    <mat-chip-list #searchList aria-label="Filter selection" class="chip-list">
                        <mat-chip *ngFor="let filter of searched(filterObj)"
                            (click)="removeFilter(filter.column, filter.filterText)" class="mttl-chip">
                            {{filter.filterText}} &nbsp; <b class="close-chip my-auto">x</b> &nbsp;
                        </mat-chip>
                        <input matInput id="m3" [matChipInputFor]="searchList" placeholder="Search"
                            [formControl]="searchFC" [matChipInputAddOnBlur]="addOnBlur"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="filterKSATList('search', searchInput.value)" #searchInput>
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </div>
        <mat-divider vertical class="vert-divider bg-light-dm ml-10 mr-10"></mat-divider>
        <div class="form-control w-auto mr-5" (click)="filterCol.focus()">
            <mat-form-field class="w-150" id="search-input" class="custom-mat" floatLabel="never">
                <mat-label>Filter By</mat-label>
                <mat-select matInput id="m2" #filterCol>
                    <mat-option *ngFor="let option of filterOptions" [value]="option">{{option}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-control filter-field mr-5" (click)="filterInput.focus()">
            <div id="search-input">
                <mat-form-field class="ml-5 search-boxes my-auto custom-mat" floatLabel="never">
                    <mat-chip-list #filterList aria-label="Filter selection" class="chip-list">
                        <mat-chip *ngFor="let filter of filtered(filterObj)"
                            (click)="removeFilter(filter.column, filter.filterText)" class="">
                            {{filter.filterText}} &nbsp; <b class="close-chip my-auto">x</b> &nbsp;
                        </mat-chip>
                        <input matInput [matChipInputFor]="filterList" [formControl]="searchFC" [matAutocomplete]="auto"
                            placeholder="Filter" #filterInput>
                        <mat-autocomplete class="search-autocomplete" #auto="matAutocomplete"
                            (optionSelected)="addBySelection($event)">
                            <mat-option
                                *ngFor="let option of autocomplete[filterMappings[filterCol.value]] | autocomplete:filterInput.value"
                                [value]="option" style="font-size: small">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-chip-list>
                </mat-form-field>
            </div>
        </div>
        <mat-divider vertical class="vert-divider bg-light-dm ml-10 mr-10"></mat-divider>
        <div id="clear_filter">
            <button id="clear_filter" class="btn" (click)="clear()">Clear All</button>
        </div>
    </div>
    <div class="navbar third-level">
        <ul class="navbar-nav float-left d-none d-md-flex" id="top-navbar-btns">
            <li class="nav-item">
                <a href="https://gitlab.com/90cos/mttl">
                    <button matTooltip="View Code Repo" class="btn">
                        <span class="fa-stack" style="vertical-align: top;">
                            <fa-icon [icon]="gitlab" class="fas fa-stack-4x"></fa-icon>
                            <fa-icon [icon]="codeIcon" class="fas fa-stack-2x codebutton"></fa-icon>
                        </span>
                    </button>
                </a>
            </li>


        </ul>
        <div id="coverage-legend">
            <!-- Coverage calculator implementation. Sets the width CSS property based on the number of ksats meeting the criteria from the filtered list. -->
            <span *ngIf="(ksats | filterMTTL:filterObj)?.length > 0"
                (click)="clickableFilter('coverage', 'Training and Eval')" id="m4a" class="training-and-eval"
                [style.width]="(( (ksats | filterMTTL:filterObj | coverageCalculator: 't_and_e')?.length / (ksats | filterMTTL:filterObj)?.length )*100).toFixed()+'%'">
                <div class="percentage">{{ (( (ksats | filterMTTL:filterObj | coverageCalculator: 't_and_e')?.length /
                    (ksats |
                    filterMTTL:filterObj)?.length )*100).toFixed()}}%</div>
                <div class="desc">Training and Eval</div>
            </span>
            <span *ngIf="(ksats | filterMTTL:filterObj)?.length > 0" (click)="clickableFilter('coverage', 'Eval Only')"
                id="m4b" class="eval-only"
                [style.width]="(( (ksats | filterMTTL:filterObj | coverageCalculator: 'e_o')?.length / (ksats | filterMTTL:filterObj)?.length )*100).toFixed()+'%'">
                <div class="percentage">{{ (( (ksats | filterMTTL:filterObj | coverageCalculator: 'e_o')?.length /
                    (ksats |
                    filterMTTL:filterObj)?.length )*100).toFixed()}}%</div>
                <div class="desc">Eval</div>
            </span>
            <span *ngIf="(ksats | filterMTTL:filterObj)?.length > 0"
                (click)="clickableFilter('coverage', 'Training Only')" id="m4c" class="training-only"
                [style.width]="(( (ksats | filterMTTL:filterObj | coverageCalculator: 't_o')?.length / (ksats | filterMTTL:filterObj)?.length )*100).toFixed() + '%'">
                <div class="percentage">{{ (( (ksats | filterMTTL:filterObj | coverageCalculator: 't_o')?.length /
                    (ksats |
                    filterMTTL:filterObj)?.length )*100).toFixed() }}%</div>
                <div class="desc">Training</div>
            </span>
            <span *ngIf="(ksats | filterMTTL:filterObj)?.length > 0"
                (click)="clickableFilter('coverage', 'Not Covered')" id="m4d" class="no-training-and-eval"
                [style.width]="(( (ksats | filterMTTL:filterObj | coverageCalculator: 'none')?.length / (ksats | filterMTTL:filterObj)?.length )*100).toFixed() + '%'">
                <div class="percentage">{{ (( (ksats | filterMTTL:filterObj | coverageCalculator: 'none')?.length /
                    (ksats |
                    filterMTTL:filterObj)?.length )*100).toFixed()}}%</div>
                <div class="desc">Not Covered</div>
            </span>
        </div>
        <ul class="navbar-nav float-right d-none d-md-flex" id="top-navbar-btns">
            <li class="nav-item">
                <button id="m6" matTooltip="Add KSAT" class="btn" (click)="addKsatDialog()">
                    <fa-icon [icon]="plusSquare" class=""></fa-icon>
                </button>
            </li>
            <li class="nav-item">
                <div id="csv-selector" class="dropdown">
                    <button class="btn" matTooltip="Export Data" data-toggle="dropdown" id="nav-link-dropdown-toggle">
                        <fa-icon [icon]="export"></fa-icon>
                    </button>
                    <div id="m7" class="dropdown-menu dropdown-menu-right">
                        <button (click)="downloadCSV()" class="btn export-button"> Export CSV Data </button>
                        <button (click)="downloadXLSX()" class="btn export-button"> Export XLSX Data </button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <button matTooltip="Report a bug" class="btn" (click)="bug_dialog()">
                    <fa-icon [icon]="faBug"></fa-icon>
                </button>
            </li>
            <li class="nav-item">
                <div id="columns-selector" class="dropdown">
                    <button class="btn" matTooltip="Select viewable columns" (click)="selectColumnsDialog()">
                        <fa-icon [icon]="faList"></fa-icon>
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <!-- <mat-table [ngStyle]="darkModeOn?{'background-color': 'red'} : {'background-color': 'blue'}" -->

    <div class="mttl-table" #mttl>
        <!-- <div class="mttl-table" #mttl> -->
        <!-- <mat-table [style.background-color]="getDarkness()" multiTemplateDataRows #table -->
        <table mat-table [ngClass]="{'alt-bg': darkModeOn === true}" multiTemplateDataRows matSort #table
            [dataSource]="ksats  | filterMTTL:filterObj |  filterByArray: 'wr_spec':wrObj | orderBy : sortCombo | paginate: { itemsPerPage: pageSize, currentPage: page  }">

            <!-- Each container is a column  -->

            <ng-container matColumnDef="coverage">
                <th mat-header-cell *matHeaderCellDef class="no-header">
                </th>
                <td [ngStyle]="{'height': '65px', 'max-height': '65px'}" mat-cell *matCellDef=" let ksat ">
                    <span [ngStyle]="{'height': '65px', 'max-height': '65px'}" style="max-width: 42px !important"
                        class="coverage training-and-eval " (click)="clickableFilter( 'coverage', 'Training and Eval') "
                        *ngIf="ksat[ 'training_links'].length> 0 && ksat['eval_links'].length > 0">
                        <div class="coverage-desc">
                            <fa-icon [icon]="bothCovered"></fa-icon>
                        </div>
                    </span>
                    <span [ngStyle]="{'height': '65px', 'max-height': '65px'}" style="max-width: 42px !important"
                        class="coverage training-no-eval" (click)="clickableFilter('coverage', 'Training Only')"
                        *ngIf="ksat['training_links'].length > 0 && ksat['eval_links'].length == 0">
                        <div class="coverage-desc">
                            <fa-icon [icon]="faTrn"></fa-icon>
                        </div>
                    </span>
                    <span class="coverage eval-no-training" style="max-width: 42px !important"
                        (click)="clickableFilter('coverage', 'Eval Only')"
                        *ngIf="ksat['eval_links'].length > 0 && ksat['training_links'].length == 0">
                        <div class="coverage-desc">
                            <fa-icon [icon]="faStopwatch"></fa-icon>
                        </div>
                    </span>
                    <span class="coverage no-coverage" style="max-width: 42px !important"
                        (click)="clickableFilter('coverage', 'Not Covered')"
                        *ngIf="ksat['eval_links'].length == 0 && ksat['training_links'].length == 0">
                        <div class="coverage-desc">
                            <fa-icon [icon]="unmapped"></fa-icon>
                        </div>
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="edit_ksat">
                <th mat-header-cell *matHeaderCellDef class="no-header">
                </th>
                <td class="plus-button my-auto" mat-cell *matCellDef="let ksat">
                    <fa-icon matTooltip="Request KSAT Modification" [icon]="faEdit" (click)="modifyKsatDialog(ksat)">
                    </fa-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="ksat_id">
                <th mat-header-cell *matHeaderCellDef id="m8" class="header-selectable" (click)="changeSort('ksat_id')">
                    KSAT ID
                    <fa-icon *ngIf="sortCombo[0] == '-ksat_id'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'ksat_id'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'ksat_id'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat">
                    <fa-icon matTooltip="Request KSAT Modification" [icon]="faEdit" (click)="modifyKsatDialog(ksat)">
                    </fa-icon>
                    {{ksat.ksat_id}}
                </td>
            </ng-container>
            <!-- plus-button my-auto -->
            <!-- plus-button my-auto -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef id="m9" class="header-selectable"
                    (click)="changeSort('description')">
                    Description
                    <fa-icon *ngIf="sortCombo[0] == '-description'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'description'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'description'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat" style="max-height: 65px; " id="description_id"
                    name="ksat_description" [ngStyle]="styleBasedOnLength(ksat.description.length)">
                    {{ksat.description}} </td>
            </ng-container>
            <!-- [ngStyle]="{'background-color':  ksat.description.length > 180? 'blue' : ''}" -->
            <!-- [ngClass]="{'alt-bg': darkModeOn === true}" -->
            <!-- [ngClass]="{'long-text':  ksat.description.length > 60}"> {{ksat.description}} </td> -->
            <ng-container matColumnDef="topic">
                <th mat-header-cell *matHeaderCellDef id="m10" class="header-selectable" (click)="changeSort('topic')">
                    Topic
                    <fa-icon *ngIf="sortCombo[0] == '-topic'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'topic'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'topic'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat">
                    <div *ngIf="ksat.requirement_src.length-1 > 0" class="clickable-filter"
                        (click)="clickableFilter('topic', ksat.topic)"
                        [ngStyle]="topicPlaceBasedOnLength(ksat.topic.length)"> {{ksat.topic}}
                    </div>
                </td>
            </ng-container>
            <!-- class="flex-stretch" -->
            <ng-container matColumnDef="requirement_owner">
                <th mat-header-cell *matHeaderCellDef id="m11" class="header-selectable"
                    (click)="changeSort('requirement_owner')">
                    Owner
                    <fa-icon *ngIf="sortCombo[0] == '-requirement_owner'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'requirement_owner'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'requirement_owner'" [icon]="faSort"></fa-icon>
                </th>
                <td style="max-height: 60px;" mat-cell *matCellDef="let ksat">
                    <div *ngIf="ksat.requirement_owner.length-1 > 0" class="clickable-filter"
                        (click)="clickableFilter('requirement_owner', ksat.requirement_owner)">
                        {{ksat.requirement_owner}}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="requirement_src">
                <th mat-header-cell *matHeaderCellDef id="m11" class="header-selectable"
                    (click)="changeSort('requirement_src')">
                    Source
                    <fa-icon *ngIf="sortCombo[0] == '-requirement_src'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'requirement_src'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'requirement_src'" [icon]="faSort"></fa-icon>
                </th>
                <td style="max-height: 60px;" mat-cell *matCellDef="let ksat">
                    <div *ngIf="ksat.requirement_src.length-1 > 0" class="clickable-filter"
                        (click)="clickableFilter('requirement_src', ksat.requirement_src)"> {{ksat.requirement_src}}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="proficiency_data">
                <th mat-header-cell *matHeaderCellDef id="m12" class="header-selectable"
                    (click)="changeSort('wr_spec')">
                    Work Role
                    <fa-icon *ngIf="sortCombo[0] == '-wr_spec'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'wr_spec'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'wr_spec'" [icon]="faSort"></fa-icon>
                </th>
                <td style="max-height: 60px; overflow: hidden;" mat-cell *matCellDef="let ksat">
                    <span *ngFor="let item of ksat.proficiency_data;">
                        <span class="clickable-filter" (click)="clickableFilter('wr_spec', item['workrole'])">
                            {{item.workrole}}</span><span *ngIf="item.proficiency.length">: {{item.proficiency}}</span><span *ngIf="! item.proficiency.length">: -</span>
                        <br />
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="wr_spec">
                <th mat-header-cell *matHeaderCellDef id="m12" class="header-selectable"
                    (click)="changeSort('wr_spec')">
                    Work Role
                    <fa-icon *ngIf="sortCombo[0] == '-wr_spec'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'wr_spec'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'wr_spec'" [icon]="faSort"></fa-icon>
                </th>
                <td style="max-height: 60px; overflow: hidden;" mat-cell *matCellDef="let ksat">
                    <span class="clickable-filter" *ngFor="let item of ksat.wr_spec"
                        (click)="clickableFilter('wr_spec', item)">
                        {{item}} <br />
                    </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="child_count">
                <th mat-header-cell *matHeaderCellDef id="m13" class="header-selectable"
                    (click)="changeSort('child_count')">
                    Children
                    <fa-icon *ngIf="sortCombo[0] == '-child_count'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'child_count'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'child_count'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat">
                    <div *ngIf="ksat['child_count'] == 0">
                        <label for="check-child-{{i}}">
                            <fa-icon [icon]="faChild" size="sm"></fa-icon>
                            <b>&nbsp;{{ksat['child_count']}} Children</b>
                        </label>
                    </div>
                    <div *ngIf="ksat['child_count'] > 0">
                        <div value="{\\{ (ksats | filterMTTL:filterObj | filterByArray: 'wr_spec' :wrObj)?.length) \\}}"
                            class="expandable"  (click)="setOtherCardLength()" (click)="setOtherCardLength()"
                            (click)="ksat.childIsExpanded = !ksat.childIsExpanded;  ksat.expanded_row = 'child'; ksat.parentIsExpanded = false; ksat.trainingIsExpanded = false; ksat.evalIsExpanded = false ">
                            <label for="check-child-{{i}}" class="expandable">
                                <fa-icon [icon]="faChild" size="sm"></fa-icon>
                                {{ksat['child_count']}} Children
                            </label>
                        </div>
                    </div>

                </td>
            </ng-container>

            <ng-container matColumnDef="parent_count">
                <th mat-header-cell *matHeaderCellDef id="m14" class="header-selectable"
                    (click)="changeSort('parent_count')">
                    Parents
                    <fa-icon *ngIf="sortCombo[0] == '-parent_count'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'parent_count'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'parent_count'" [icon]="faSort"></fa-icon>
                </th>

                <td mat-cell *matCellDef="let ksat">
                    <!-- <a mat-button  (click)="element.isExpanded = !element.isExpanded">  {{element.training_count}} </a> -->
                    <div  (click)="setOtherCardLength()" (click)="ksat.parentIsExpanded = !ksat.parentIsExpanded;  ksat.expanded_row = 'parent'; ksat.childIsExpanded = false;  ksat.trainingIsExpanded = false; ksat.evalIsExpanded = false"
                        *ngIf="ksat['parent']">
                        <label style="display:inline" for="check-parent-{{i}}" class="expandable">
                            <fa-icon [icon]="faUsers"></fa-icon>
                            {{ksat['parent'][0]}} <span *ngIf="ksat['parent'].length-1 > 0"><br>+
                                {{ksat['parent'].length-1}}
                                more</span>
                        </label>
                    </div>
                    <div *ngIf="!ksat['parent']">
                        <fa-icon [icon]="faUsers"></fa-icon>
                        <b>&nbsp;None</b>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="training_count">
                <th mat-header-cell *matHeaderCellDef id="m15" class="header-selectable"
                    (click)="changeSort('training_count')">
                    Training
                    <fa-icon *ngIf="sortCombo[0] == '-training_count'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'training_count'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'training_count'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat">
                    <!-- <a mat-button  (click)="element.isExpanded = !element.isExpanded">  {{element.training_count}} </a> -->
                    <div class="expandable"
                    (click)="setOtherCardLength()"  (click)="ksat.trainingIsExpanded = !ksat.trainingIsExpanded; ksat.expanded_row = 'training'; ksat.parentIsExpanded = false; ksat.childIsExpanded = false; ksat.evalIsExpanded = false">
                        <fa-icon [icon]="faBook"></fa-icon> {{ksat.training_count}} Training
                    </div>

                </td>
            </ng-container>

            <ng-container matColumnDef="add_training">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let ksat" class="plus-button" matTooltip="Add Training"
                    (click)="ksatLinkDialog(ksat, 'Training')">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </td>
            </ng-container>


            <ng-container matColumnDef="eval_count">
                <th mat-header-cell *matHeaderCellDef id="m16" class="header-selectable"
                    (click)="changeSort('eval_count')">
                    Evaluation
                    <fa-icon *ngIf="sortCombo[0] == '-eval_count'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'eval_count'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'eval_count'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat" style="word-wrap:  none;">
                    <div class="expandable"
                      (click)="setEvalCardLength()"  (click)="ksat.evalIsExpanded = !ksat.evalIsExpanded; ksat.expanded_row = 'eval'; ksat.parentIsExpanded = false; ksat.trainingIsExpanded = false; ksat.childIsExpanded = false">
                        <fa-icon [icon]="faStopwatch"></fa-icon> {{ksat.eval_count}} Evals &nbsp;
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="add_eval">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let ksat" class="plus-button" matTooltip="Add Eval"
                    (click)="ksatLinkDialog(ksat, 'Eval')">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="OID">
                <th mat-header-cell *matHeaderCellDef class="header-selectable" (click)="changeSort('_id')">
                    OID
                    <fa-icon *ngIf="sortCombo[0] == '-_id'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == '_id'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != '_id'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat"> {{ksat._id}} </td>
            </ng-container>

            <ng-container matColumnDef="comments" (click)="changeSort('comments')">
                <th mat-header-cell *matHeaderCellDef class="header-selectable"> Comments
                    <fa-icon *ngIf="sortCombo[0] == '-comments'" [icon]="faSortUp"></fa-icon>
                    <fa-icon *ngIf="sortCombo[0] == 'comments'" [icon]="faSortDown"></fa-icon>
                    <fa-icon *ngIf="sortColumn != 'comments'" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let ksat"> {{ksat.comments}} </td>
            </ng-container>


            <ng-container matColumnDef="expandedRow">
                <td  style="min-width: max-content;" mat-cell *matCellDef="let ksat" [attr.colspan]="displayedColumns.length">
                    <!-- children detail -->
                    <div *ngIf="ksat.childIsExpanded" class="popup-row"
                        [@detailExpand]="ksat.childIsExpanded && ksat.expanded_row == 'child' ? 'expanded' : 'collapsed'">
                        <div *ngIf="ksat.children.length > 0">
                            <carousel [itemsPerSlide]="itemsPerSlide"
                                [singleSlideOffset]="ksat.children.split(', ').length < itemsPerSlide"
                                [showIndicators]="false" [interval]="false" [nowrap]="nowrap" class="mttl-carousel">
                                <slide *ngFor="let child of ksat.children.split(', '); let index=index">
                                    <div class="card parent-child-card img-fluid mw-full p-0 d-flex mb-10 m-5 mt-0"
                                        (click)="clickableFilter('ksat_id', child.trim())">
                                        <div>
                                            <div class="m-10 align-self-center d-flex">
                                                <div class="rounded align-items-center justify-content-center p-5 mr-10"
                                                    [ngStyle]="{'background-color': getColor(child.trim())}">
                                                    <fa-icon [icon]=determineIcon(child.trim()[0]) class="card-icon">
                                                    </fa-icon>
                                                </div>
                                                <h2 class="mb-0 pb-0 mt-10">{{child.trim()}}</h2>
                                                <div class="carousel-caption m-0 p-0">
                                                    <p>{{index + 1}}</p>
                                                </div>
                                            </div>
                                            <p class="card-info m-0 ml-5 p-0">{{descFromKsatId(child.trim())}}</p>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <!-- end children detail -->

                    <!-- parent detail -->
                    <div *ngIf="ksat.parentIsExpanded" class="popup-row"
                        [@detailExpand]="ksat.parentIsExpanded && ksat.expanded_row == 'parent' ? 'expanded' : 'collapsed'">
                        <div *ngIf="ksat.parent.length > 0">
                            <carousel [itemsPerSlide]="itemsPerSlide"
                                [singleSlideOffset]="ksat.parent.length < itemsPerSlide" [showIndicators]="false"
                                [interval]="false" [nowrap]="nowrap">
                                <slide *ngFor="let parent of ksat.parent; let index=index">
                                    <div class="card parent-child-card img-fluid mw-full p-0 d-flex mb-10 m-5"
                                        (click)="clickableFilter('ksat_id', parent)">
                                        <div>
                                            <div class="m-10 align-self-center d-flex">
                                                <div class="rounded align-items-center justify-content-center p-5 mr-10"
                                                    [ngStyle]="{'background-color': getColor(parent)}">
                                                    <fa-icon [icon]=determineIcon(parent[0]) class="card-icon">
                                                    </fa-icon>
                                                </div>
                                                <h2 class="mb-0 pb-0 mt-10">{{parent}}</h2>
                                                <div class="carousel-caption m-0 p-0">
                                                    <p>{{index + 1}}</p>
                                                </div>
                                            </div>
                                            <p class="card-info m-0 ml-5 p-0">{{descFromKsatId(parent)}}</p>
                                        </div>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <!-- end parent detail -->
                    <!-- training detail -->
                    <div *ngIf="ksat.trainingIsExpanded" class="popup-row"
                        [@detailExpand]="ksat.trainingIsExpanded && ksat.expanded_row == 'training' ? 'expanded' : 'collapsed'">
                        <!-- start carousel -->
                        <div *ngIf="ksat.training_links.length > 0 ">
                            <carousel [itemsPerSlide]="linksPerSlide - 1"
                                [singleSlideOffset]="ksat.training_links.split(', ') < linksPerSlide - 1"
                                [showIndicators]="false" [interval]="false" [nowrap]="nowrap">
                                <slide style="min-width: min-content; padding-right: 5px; margin-right: 5px; "
                                    *ngFor="let link of ksat.training_links.split(', '); let index=index">

                                    <a style="min-width: 100px"
                                        class="card parent-child-card img-fluid mw-full p-0 pr-5 d-flex mb-10 m-5 mr-5"
                                        [href]="getHref(link)" target="_blank">
                                        <div class="link-carousel-caption m-0 p-0 pr-5">
                                            <p>{{index + 1}}</p>
                                        </div>
                                        <div class="m-5 ml-2 p-0 align-self-left d-flex">
                                            <div class="rounded align-items-center justify-content-left p-5 mr-5 my-auto"
                                                [ngStyle]="{'background-color': '#808080'}">
                                                <fa-icon [icon]="faBook" class="card-icon"></fa-icon>
                                            </div>
                                            <p class="card-info m-0 ml-5 p-0" class="my-auto">{{getAnchorText(link)}}
                                            </p>
                                        </div>
                                    </a>
                                </slide>
                            </carousel>
                        </div>
                        <!-- end carousel -->
                    </div>
                    <!-- end  training detail -->
                    <!-- eval detail -->
                    <div [ngStyle]="{'min-height': '65px', 'min-width': 'max-content' }"
                        *ngIf="ksat.evalIsExpanded && ksat.eval_links.length > 0" class="popup-row"
                        [@detailExpand]="ksat.evalIsExpanded && ksat.expanded_row == 'eval' ? 'expanded' : 'collapsed'">
                        <div *ngIf="ksat.eval_links.length > 0">
                            <carousel  style="-webkit-transform: scale(.8)" class="carousel" [itemsPerSlide]="linksPerSlide"
                                [singleSlideOffset]="ksat.eval_links.split(', ') < linksPerSlide"
                                [showIndicators]="false" [interval]="false" [nowrap]="nowrap">
                                <slide style="min-width: max-content; padding-right: 15px; margin-right: 5px; "
                                    *ngFor="let link of ksat.eval_links.split(', '); let index=index">
                                    <a class="card parent-child-card img-fluid mw-full p-0 pr-15 d-flex mb-10 m-5 mr-15 "
                                        [href]="getHref(link)" target="_blank">
                                        <div class="link-carousel-caption m-0 p-0 pr-5">
                                            <p>{{index + 1}}</p>
                                        </div>
                                        <div class="m-5 ml-10 p-0 align-self-center d-flex">
                                            <div class="rounded align-items-center justify-content-center p-5 mr-5 my-auto"
                                                [ngStyle]="{'background-color': '#808080'}">
                                                <fa-icon [icon]="faBook" class="card-icon"></fa-icon>
                                            </div>
                                            <p class="card-info m-0 ml-5 p-0"   class="my-auto">{{getAnchorText(link)}}
                                            </p>
                                        </div>
                                    </a>
                                </slide>
                            </carousel>
                        </div>
                    </div>

                    <!-- end eval detail -->

                </td>
            </ng-container>



            <!-- This is so the wonderful striped lines show up at the end. -->

            <ng-container matColumnDef="theEnd">
                <th mat-header-cell *matHeaderCellDef class="header-selectable">
                    <div style="visibility: hidden;"> This text is merely a placeholder. If you are seeing this text in
                        production, please file a bug report. </div>
                    <fa-icon style="visibility: hidden" [icon]="faSort"></fa-icon>
                </th>
                <td mat-cell *matCellDef="let element">
                    <div style="font-size: xx-small; visibility: hidden;"> This text is merely a placeholder. <br /> If
                        you are seeing this text in production, please file a bug report. {{element.id}} </div>
                </td>
            </ng-container>


            <!-- this ends the filler container -->






            <tr id="header_row" style="height: 5px;" mat-header-row matSort *matHeaderRowDef="displayedColumns"
                [ngClass]="{'alt-th': darkModeOn === true}">
                <div style="display: none;"></div>
            </tr>
            <!-- darkModeOn|async -->
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="queue-element-row"
                [class.queue-expanded-row]="element.isExpanded"></tr>
            <!-- expanding rows -->
            <!-- <tr mat-row *matRowDef="let row; columns: ['childDetail']" class="popup-row"></tr>
            <tr mat-row *matRowDef="let row; columns: ['parentDetail']" class="popup-row"></tr>
            <tr mat-row *matRowDef="let row; columns: ['trainingDetail']" class="popup-row"></tr>
            <tr mat-row *matRowDef="let row; columns: ['evalDetail']" class="popup-row"></tr> -->
            <tr mat-row *matRowDef="let row; columns: ['expandedRow']" class="popup-row"></tr>
        </table>
        <!-- </mat-table> -->
    </div>


    <!-- Pagination controls are a third party library loaded via npm  -->
    <div id="footer">
        <div class="pagination-size">
            KSATs Per Page:
            <select class="form-control size-controller" #paginationSelector
                (change)="paginationChange(paginationSelector.value); page=1;">
                <option value=25 [selected]="pageSize==25">25</option>
                <option value=50 [selected]="pageSize==50">50</option>
                <option value=100 [selected]="pageSize==100">100</option>
                <option value=1000 [selected]="pageSize==1000">1000</option>
            </select>
        </div>
        <pagination-controls class="pagination" (pageChange)="page = $event; mttl.scrollTop=0"></pagination-controls>
        <span class="results-numbers">
            KSAT {{((page-1) * pageSize) + 1}}-{{page * pageSize < (ksats | filterMTTL:filterObj |
                filterByArray: 'wr_spec' :wrObj)?.length ? page * pageSize : (ksats | filterMTTL:filterObj |
                filterByArray: 'wr_spec' :wrObj)?.length}} of {{ (ksats | filterMTTL:filterObj |
                filterByArray: 'wr_spec' :wrObj)?.length }} &nbsp; &nbsp; </span>
    </div>
    <!-- the very end -->

</div>
