<div *ngIf="profileName">
  <h2 mat-dialog-title>  Contact Us </h2>
  <mat-dialog-content  class="mat-typography">
    <mat-form-field  class='mx-auto' [style.width.px]=360 hintLabel="Missing KSAT, broken link, question, concern, etc.">
      <mat-label class='mx-auto' [style.width.px]=360>Reason for contacting us</mat-label>
      <input matInput [(ngModel)]='topic' cdkFocusInitial>
      <md-error class="error" *ngIf="error">This field is required</md-error>
    </mat-form-field>
    <br> <br>
    <mat-form-field  class='mx-auto' [style.width.px]=360>
      <mat-label   class='mx-auto' class='mx-auto'>Explanation</mat-label>
      <textarea matInput [(ngModel)]='desc'></textarea>
      <md-error class="error" *ngIf="error">This field is required</md-error>
    </mat-form-field>
    <br>
    <mat-form-field class='mx-auto' [style.width.px]=360 hintLabel="Links, Workroles, Related KSATs">
      <mat-label class='mx-auto' [style.width.px]=360>Notes, Contact Info, etc. (Optional)</mat-label>
      <textarea matInput [(ngModel)]='notes'></textarea>
    </mat-form-field>
    <div class="thanks" *ngIf="thanks && !url">
      <p>Thank you, your issue ticket will appear shortly... &nbsp;
        <fa-icon [icon]="syncIcon" [spin]="true" class="fas"></fa-icon>
      </p>
    </div>
    <div *ngIf="url && thanks">
      <p *ngIf="url !== 'none'" style="vertical-align: center;" >
        Issue located at:
        <a [href]="url" target="_blank">
          {{url}}
        </a>
      </p>
      <p *ngIf="url === 'none'" style="vertical-align: center;" >
        Error submitting request. Please try again.
      </p>
    </div> 
  </mat-dialog-content> 
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="sendData(); notes=''; desc=''; topic=''">Submit</button>
  </mat-dialog-actions>
</div>