a {
    text-align: center;
    color: inherit;
}

.dropdown-submenu .sub-menu {
    left: 100%;
    position: absolute;
    visibility: hidden;
    margin: -25px 0 0 0;
}

.dropdown-submenu{
    &:hover > .sub-menu {
    visibility: visible;
    display: block;
    }
}
